
body {
  max-width: 220vh;
  max-height: 220vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

#board {
  left: auto;
  position: absolute;
  width: 200vh;
  height: 90vh;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#walker {
  background-color: blue;
  width: 6vh;
  height: 6vh;
  border-radius: 100%;
  position: absolute;
  left: 0; /* Uncomment if you want to set a "starting" position */
  top: 0;  /* Uncomment if you want to set a "starting" position */
}
#walker2 {
  background-color: red;
  width: 6vh;
  height: 6vh;
  border-radius: 100%;
  position: absolute;
  left: 0; /* Uncomment if you want to set a "starting" position */
  top: 0;  /* Uncomment if you want to set a "starting" position */
}