body {
  background-color: black;
  margin: 0px;
}

canvas {
  background-size: contain;
  background-image: url("images/background.jpg");
  background-color: black;
  
  
}

img {
  display: none;
}
