

html{   
    /*background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(https://www.cyberpunk.net/build/images/social-thumbnail-en-ddcf4d23.jpg);
    */
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(100,0,0,1) 100%);
    background-repeat:no-repeat;
    background-size:100% 100vh;
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#white{
    color: #eee;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    font-family:Rajdhani;
    background-color: black;
    color: #54c1e6;
    padding: 1.33vh 1.778vh;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:rgba(100,0,0,1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 2vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
body {
    color: rgb(45, 45, 45);
    padding: 1.11vh;
    font-family: Rajdhani;
}

@font-face {
    font-family: Rajdhani;
    src: url(/Fonts/Rajdhani/Rajdhani-Medium.ttf);
}

button{
    background-color: transparent;
    font-family: Rajdhani;
    border: none;
    color: #54c1e6 ;
    text-decoration: none;
}

#all-contents {
    max-width: 111vh;
    margin: auto;
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein {
    0% {
        margin-top: 500px;
        opacity: 0%;
    }
    100% {
        margin-top: 0%;
        opacity: 100%;
    }
}

/* navigation menu */
nav {

    height:5vh;
    justify-content:center;
    max-height: 8vh;
    min-width:27.778vh;

    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    align-items:center;

    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
    position: relative;

    border-top-style: solid;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-color: red;

    margin: 1vh;
    display: flex;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;


}

h1 {
    font-size: 100%;
    display: flex;
    align-items: center;
    color: #54c1e6;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}

.nav-li:hover{
    background-color: rgba(100,0,0,1);
    border-color: rgba(100,0,0,1);
    border-width: 2.889vh;
    border-style: solid;
}

.nav-li {
    border-color: transparent;
    border-width: 2.889vh;
    border-style: solid;
    align-self: center;
    text-decoration: none;
    font-size: 2vh;
    display:inline-block;
    padding: 0 1vh;
}

a {
    text-decoration: none;
    color: #54c1e6;
}

/* main container area beneath menu */
main {

    border-radius: 2.778vh;
    color: #54c1e6;
    background: black;
    display: flex;
}
.sidebar {
    margin-right: 2.778vh;
    padding: 0.5vh;
}

.sidebar-img {
    margin-top: 0.5vh;
    width: 22vh;
    height: auto;
}

.content {
    flex: 1;
    padding: 1.667vh;
}

/* portfolio styles */
#interests {

    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: black;
    color: #54c1e6;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

    /* portfolio styles */
    .content h1 {
        color: white    ;
    }

    #portfolio {
        list-style-type: none;
        padding-left: 0;
    }

    #portfolio li {
        background: white;
        padding: 1.11vh;
        border-radius: 1.11vh;
        margin-bottom: 1.11vh;
    }

    #portfolio li:hover {
        background: #eee;
    }

    #portfolio a {
        text-decoration: none;
        color: white;
    }

    /* responsive web design */
  @media screen and (min-width: 120px) and (max-width: 1080px) {
    main {
      height: 100ch;
      zoom: 1.5;
      display: grid;
    }

    h1 {
      font-size: 44px;
    }

    h2 {
      font-size: 42px;
    }

    h3 {
      font-size: 36px;
    }

    #all-contents {
       height: 100ch;
       margin: none;
    }

    a {
       font-size: 42px;
    }

    .sidebar {
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }

    .sidebar-img {
        width: 100%;
        
    }

    p,
    li {
         font-size: 24px;
    }

    .content {
         align-content: center;
         justify-content: center;
    }
  }