body{
    background-image:url("https://img.baba-blog.com/2024/05/alibabareads_70244_A_cute_snowman_is_playing_in_the_white_snowy_ce06eba5-0682-441f-9a9d-46bdafa41873.png?x-oss-process=style%2Flarge");
    background-color: darkred;
    background-repeat:no-repeat;
    background-size: cover;
    overflow: hidden;
}